<header class="header">
    <div class="logo">
        <h1>Uzima Borehole Drilling System</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="registerClient.html">Register Client</a></li>
            <li><a href="registerService.html">Register Service</a></li>
            <li><a href="calculateCharges.html">Calculate Charges</a></li>
            <li><a href="clientsReport.html">Clients Report</a></li>
            <li><a href="servicesReport.html">Services Report</a></li>
            <li><a href="revenueReport.html">Revenue Report</a></li>
            <li><a href="projectsReport.html">Projects Report</a></li>
        </ul>
    </nav>
</header>
