<div class="modal" id="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modal-title"></h2>
            <button class="close-modal" id="close-modal" title="Close Modal">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body" id="modal-body">
            <!-- Content will be dynamically inserted here -->
        </div>
        <div class="modal-footer" id="modal-footer">
            <!-- Buttons will be dynamically inserted here -->
        </div>
    </div>
</div>